body{
    margin: 0;
    font-family: 'Gotham', sans-serif;
    font-size: 14px;
    background-color: #d5d4c8;
    color: white;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
    color: black;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}



/* Header ============= */
.header {
    padding: 20px;
    border-bottom: 1px solid #7e7e7e;

    width: 100%;

}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* Nav ============= */
.nav_ {
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
}

.nav_link{
    margin-left: 20px;

    color: black;
    text-decoration: none;
}

.nav_link:hover{
    padding-bottom: 53px;
    border-bottom: 6px solid #11749e;
    opacity: .6;

}
.nav_link:first-child{
    margin-left: 0;
}

.nav_icon{
    width: 20px;
    height: 20px;
}

/* Intro ============= */

.intro_text{
    color: black;
    font-size: 25px;
}



