@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@1&display=swap');
body{
    margin: 0;
    font-family: 'Playfair Display SC', sans-serif;
    font-size: 14px;
    background-color: #d5d4c8;
    color: black;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1 {
    font-size: 40px;

}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}



/* Header ============= */
.header {
    padding: 20px;
    border-bottom: 1px solid #7e7e7e;
    width: 100%;

}


.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* Nav ============= */
.nav_ {
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
}

.nav_link{
    margin-left: 20px;

    color: black;
    text-decoration: none;
}

.nav_link:hover{
    padding-bottom: 48px;
    border-bottom: 6px solid #8e2c0a;
    color: #8e2c0a;
    opacity: .6;

}
.nav_link:first-child{
    margin-left: 0;
}

.nav_icon{
    width: 20px;
    height: 20px;
}

/* Intro ============= */
.intro_text{
    color: black;
    font-size: 25px;
}

/* Content ============= */
.content_container{
    margin: 20px 100px;
    display: flex;
    justify-content: center;
}
.content_inner{
    margin-right: 100px;
}

.content_slider{
    width: 100%;
    max-width: 810px;

}



.content_text{
    font-size: 18px;
}

.content_text_title{
    font-weight: bold;
}

/* Slider ============= */

.slider_container{
    width: 100%;
    max-width: 810px;
    margin: 0 auto;

}

.slider_img_btn{
    width: 40px;
    height: 40px;
}



.slick-prev{
    position: absolute;
    z-index: 1000;
    top: 50%;
    transform: translateY(-50%);
    left: -60px;
    border: none;
    background-color: transparent;
}
.slick-next{
    position: absolute;
    z-index: 1000;
    top: 50%;
    transform: translateY(-50%);
    right: -60px;
    border: none;
    background-color: transparent;

}

.slick-next:hover{
    cursor: pointer;

}

.slick-next:hover{
    cursor: pointer;

}


.slider_link{
    font-size: 26px;
    font-weight: bold;
    color: black;
}
.slider_link:hover{
    text-decoration: none;
    transition: .3s;
    color: #492424;
}

.slick-dots {
    align-items: center;
    display: flex;
    justify-content: center;

}
.slick-dots li{
    list-style: none;
    margin: 0 10px;
}

.slick-dots button {
    font-size: 0;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    border: none;
    outline: none;
}

.slick-dots li[class="slick-active"] button{
    background: #8e2c0a;
    transition: .3s;
}

/* Map ============= */

.popup_link{
    font-size: 12px;
    font-family: 'Playfair Display SC', serif;
    color: black;
}

#map{
    width: 80%;
    height: 500px;
    margin: 20px auto;
}

/* Media
================*/
@media (max-width: 1330px) {
    /* Content */
    .content_slider{
        max-width: 610px;
    }

}

@media (max-width: 1200px){
    /* Header */
    .header_title{
        font-size: 20px;
        font-weight: bold;
    }
    /* Nav */
    .nav_ {
        font-size: 14px;
    }
    .nav_link:hover{
        padding-bottom: 52px;
    }
    /* Intro */
    .intro_title{
        font-size: 20px;
        font-weight: bold;
    }
    .intro_text{
        font-size: 18px;
    }
    .slider_link{
        font-size: 18px;
    }
    /* Content */
    .content_container{
        margin: 20px 40px;
    }
    .content_text{
        font-size: 14px;
    }
    .content_title{
        font-size: 20px;
        font-weight: bold;
    }
    .content_inner{
        margin-right: 50px;
    }

}

@media (max-width: 899px){

    .slider_container{
        max-width: 610px;

    }
    /* Content */
    .content_container{
        flex-wrap: wrap;
        margin: 20px 40px;
    }
}

@media (max-width: 770px){
    /* Header */
    #logo{
        width: 40px;
        height: 40px;
    }

    .header_title{
        font-size: 16px;
    }
    /* Nav */
    .nav_ {
        font-size: 12px;
    }
    .nav_link:hover{
        padding-bottom: 52px;
    }
    /* Intro */
    .intro_title{
        font-size: 16px;
    }
    .intro_text{
        font-size: 12px;
    }
    .slider_link{
        font-size: 16px;
    }
    /* Content */
    .content_container{
        margin: 20px 20px;
    }
    .content_text{
        font-size: 12px;
    }
    .content_title{
        font-size: 16px;
    }
    .content_inner{
        margin-right: 20px;
    }
}
@media (max-width: 770px){
    .nav_link:hover{
        padding-bottom: 29px;
        border-bottom: 3px solid #8e2c0a;
    }
    .slider_container{
        max-width: 410px;

    }
    .slider_container img{
        max-width: 410px;

    }
    .content_slider{
        max-width: 510px;

    }
    .content_slider img{
        max-width: 510px;

    }

}

@media (max-width: 530px){
    .nav_link:hover{
        border-bottom: none;
    }

    .slider_container{
        max-width: 310px;

    }

    .slider_container img{
        max-width: 310px;

    }
    .content_slider{
        max-width: 410px;

    }
    .content_slider img{
        max-width: 410px;

    }

    .slick-dots button {
        width: 10px;
        height: 12px;
    }

}

@media (max-width: 470px){
    .content_slider{
        max-width: 310px;

    }
    .content_slider img{
        max-width: 310px;

    }

}

@media (max-width: 404px){
    .content_slider{
        max-width: 310px;

    }
    .content_slider img{
        max-width: 310px;

    }
    .slider_img_btn{
        width: 20px;
        height: 20px;
    }
    .slick-prev{
        left: -30px;
    }
    .slick-next{
        right: -30px;
    }
    .slider_container{
        max-width: 240px;

    }
    .slider_container img{
        max-width: 240px;

    }
    .content_slider{
        max-width: 260px;

    }
    .content_slider img{
        max-width: 260px;

    }
    .header_title{
        font-size: 14px;
    }
    /* Nav */
    .nav_ {
        font-size: 10px;
    }
    /* Intro */
    .intro_title{
        font-size: 14px;
    }
    .intro_text{
        font-size: 12px;
    }
    .slider_link{
        font-size: 14px;
    }
    /* Content */
    .content_text{
        font-size: 12px;
    }
    .content_title{
        font-size: 14px;
    }
}
@media (max-width: 350px){
    #logo{
        visibility: hidden;
        position: absolute;
    }
    .content_slider{
        max-width: 200px;

    }
    .content_slider img{
        max-width: 200px;

    }
    .slider_container{
        max-width: 230px;

    }
    .slider_container img{
        max-width: 230px;

    }

}



